.header {
    max-width: 100%;
    margin: 28px 48px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    gap: 18px;
}

@media screen and (max-width: 1023px) {
    .header {
        margin: 28px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin: 16px 16px 0;
    }
}