.footer {
  max-width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  margin: 92px 48px 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    margin: 64px 16px 24px;
    gap: 48px;
  }
}
