.footer {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(5, max-content) 1fr;
    margin: 92px 48px 24px;
    gap: 18px;
}

@media screen and (max-width: 1023px) {
    .footer {
        margin: 88px 24px 24px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, max-content) 1fr;
        margin: 64px 16px 24px;
        gap: 32px;
    }
}